
html {
    height: 100%;
}
body{
    height:88%;
    background-color: #F3F5FC;
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: 0;
}

.container {
    height: 100%;
    max-width: 1440px;
    margin: auto;
    width: 100%;

}

.logotype{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    position: relative;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
    margin-right: auto;

}

.logotype > img {
    position: relative;
}

.mainContainer {
    height: 100%;
}

.encoder{
    margin: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.encoder1 {
    margin: 0;
    width: calc(100% - 80px);
    flex-basis: calc(65% - 80px);
}

.text_encoder{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textin {
    font-family: Inter, sans-serif;
    font-size: 32px;
    text-align: left;
    /*position: absolute;*/
    flex-basis: 100%;
    margin-top: 168px;
    line-height: 48px;
    /*margin-bottom: 808px;*/
    color: #0A3871;
    background-color: transparent;
    resize: none;
    border: none;
}

#textin:focus {
  outline: none;
    color: rgba(110,169,255,0.91);
}

#textin::-webkit-input-placeholder {
    color:coral;
    font-weight: lighter;
    font-size: 32px;

}

.alertAndBtn {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}

.alerta {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

#alertaText{
    margin-left: 8px;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    color: #495057;
}

#alertaText:hover {
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.24);
}

.alerta >img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    display: inline-block;
}

.tools {
    display: flex;
    width: 100%;
}

#encrypt {
    background: steelblue;
    border: 2px solid #0A3871;
    border-radius: 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    font-family: inter, Tahoma, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.91);

    flex: none;
    order: 0;
    width: 328px;
    margin: 0 8px;
    height: 50px;
    flex-basis: 50%;
    transition: all 0.5s;
    cursor:pointer;
}

#encrypt:hover {
    background-color: black;
    color: white;
    border: 1px solid red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.24);
    font-size: 30px;
}

#encrypt:active {
    background-color: #343A40;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#decrypt{
    background: coral;
    border-radius: 24px;
    border: 2px solid #0A3871;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    font-family: inter, Tahoma, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    flex: none;
    order: 1;
    width: 328px;
    margin: 0 24px;
    height: 50px;
    left: 352px;
    flex-basis: 50%;
    transition: all 0.5s;
    cursor:pointer;
}

#decrypt:hover {
    background-color: black;
    color: white;
    border: 1px solid red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.24);
    font-size: 30px;
}

#decrypt:active {
    background-color: #343A40;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.sidebar {
    margin: 0 60px 0 100px;
    flex-basis: calc(20% - 100px);

}

.sidebar_cont {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90%;
    background: #FFFFFF;
    border-radius: 32px;
    justify-content: center;
    box-shadow: 0 10px 20px -5px ;
    border: 1px dotted coral;
}
.sidebar_cont:hover {
    border: 1px dotted red;
    box-shadow: 2px 10px 20px -5px ;
}

#sidebar1{
    height: 100%;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.muneco{
    text-align: center;
    }

#alert2 {
    width: 500px;
    height: 300px;
    object-fit: fill;
    display: none;
}

.muneco > img{
    width: 336px;
    height: 304px;
    object-fit: cover;
    display: inline-block;
}

.sidebarTxt1 {
    position: center;
    width: 330px;
    height: 58px;
    left: 10px;
    top: 32px;
    margin: 1px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #343A40;

    flex: none;
    order: 0;
    align-self: center;
    flex-grow: 0;
    padding-bottom: 16px;
}

.sidebarTxt2 {
    position: center;
    width: 330px;
    height: 48px;
    left: 10px;
    top: 70px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    text-align: center;

    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0;
}

#sidebar2{
    display: none;
}

#textout{
    font-family: Inter, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color:#0A3871 ;
    font-weight: 600;
    background-color:transparent;
    resize: none;
    flex-basis: calc(100% - (67px + 32px));
    justify-content: center;
    box-shadow: 0 10px 20px -5px steelblue;
    border: 1px dotted coral;
    border-radius: 15px;
}

.copyBtn{
    background-color: rgba(109,210,255,0.18);
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    flex-basis: 50%;
    text-align: center;

    height: 30px;
    position: center;
    width: 328px;
    left: 352px;
    box-sizing: border-box;
    flex: none;
    flex-grow: 0;
    margin: 20px 50px;
    transition: all 0.2s;
    cursor:copy;
}

.copyBtn:hover {
    color: #0A3871;
    border: 1px solid red;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.24);
    font-size: 20px;
}

.copyBtn:active {
    box-shadow: 0 5px #666;
    transform: translate(4px);
    color:white;
    background: #50C878;
}

.cc{
    margin:2px;
    font-size: 15px;
    font-weight: 600;
    font-family: Inter, "Times New Roman", serif;
    box-shadow: 1px 0 9px 3px brown;
    border: 1px solid brown;
    border-radius: 10px;
    padding: 2px;
    color: #0A3871;
}

